body {
	font-family: 'Roboto', 'Helvetica Nue', sans-serif;
	display: flex;
	flex-direction: column;
}

.head {
	display: flex;
	justify-content: center;
	height: 10vh;
	width: 100vw;
	background-color: rgba(52, 58, 64, 1);
}

.head_context {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 5vw;
	padding-right: 5vw;
	width: 100vw;
}

.head_context h1 a {
	/*font-size: 53px;*/
	font-size: 8vh;
	text-decoration: none;
	color: white;
}

.head_name a {
	/*font-size: 53px;*/
	font-size: 8vh;
	color: white;
	text-decoration: none;
}

.head_menu {
	/*font-size: 24px;*/
	font-size: 3vh;
	color: white;
}

.head_menu a {
	/*font-size: 24px;*/
	font-size: 3vh;
	color: white;
	text-decoration: none;
}

.head_menu a {
	color: white;
	text-decoration: none;
}

.attention {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 5vw;
	height: 6vh;
	width: 100vw;
	/*font-size: 20px;*/
	font-size: 2.8vh;
	background-color: rgba(52, 58, 64, 1);
	color: white;
}

.content {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	width: 100vw;
	height: 84vh;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-bottom: 2vh;
	padding-top: 2vh;
	
	background-color: rgba(233, 236, 239, 1);
}

.content img {
	height: 30vh;
}

.content_form {
	width: 40vw;
}

.form_sex {
	width: 40vw;
	display: flex;
	flex-direction: row;
}

.form_sex h6, .form_sex div {
	padding-right: 1vw;
}